<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#/"><img class="logo" src="img/icons/logo.svg">Scrape</a></li>
      </ul>
    </div>

    <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <button class="btn btn-default" ng-click="refreshSites()">Refresh Sites</button>
        <input type="text" class="form-control" placeholder="Search" ng-model="search"
          ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }">
      </div>
    </form>
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 info-container">
      <div>
        <div class="btn-group btn-group-sm" role="group">
          <button type="button" class="btn btn-default" ng-click="setSort('title')">Title</button>
          <button type="button" class="btn btn-default" ng-click="setSort('timestamp')">Chronologically</button>
        </div>
      </div>
      <div>
        <b>{{ filtered.length }} Items</b>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="items">
        <div class="item" ng-repeat="item in filtered | filter:searchText | orderBy:sort:reverse | limitTo:pageSize:begin()">
          <a ng-href="{{ item.link }}"><img ng-src="{{ item.img }}"></a>
          <div class="info">
            <small><a ng-href="{{ item.link }}">{{ item.title }}</a><taglist tags="item.tags"></taglist></small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 pagination-container">
      <nav>
        <ul class="pagination">
          <li>
            <a aria-label="Previous" ng-click="prevPage()">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li>
            <a ng-class="{ 'current-page': page == pageNumber }" ng-repeat="page in pageRange()" ng-click="setPageNumber(page)">{{ page }}</a>
          </li>
          <li>
            <a aria-label="Next" ng-click="nextPage()">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
